{% extends 'main.html' %}

    {% block content %}
    <div class="auth-container">
        <div class="auth-card">
            <h1>Reset Password</h1>
            {% if messages %}
                <div class="messages-container">
                    {% for i in messages %}
                        <div class="message">{{i}}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {% if new %}
                    <label for="">New Password:</label>
                    <input type="password" name="new_pasw" id=""><br><br>
                {% else %}
                    <label for="">Old Password:</label>
                    <input type="password" name="old_pasw" id=""><br><br>
                {% endif %}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    {% endblock %}